<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dynamics365.UIAutomation.Api" version="9.1.0.17139" targetFramework="net462" />
  <package id="MSTest.TestAdapter" version="1.3.2" targetFramework="net462" />
  <package id="MSTest.TestFramework" version="1.3.2" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net462" />
  <package id="Otp.NET" version="1.2.1" targetFramework="net462" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net462" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net462" />
  <package id="Selenium.WebDriver.ChromeDriver" version="83.0.4103.3900" targetFramework="net462" />
  <package id="Selenium.WebDriver.GeckoDriver" version="0.26.0.1" targetFramework="net462" />
</packages>